/dashboard/
/img/
/index.php
/favicon.ico
/desktop.ini
/xampp/
/applications.html
/bitnami.css

node_modules/

bootstrap/
*.env
*.mp4
Video/

webalizer/

/project_store



npm-debug.log*
yarn-debug.log*
yarn-error.log*
