/* your styles go here */

.bg-yel{
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
}

.aButton a:link{
    color:#212529;
}

.aButton a:visited{
    color:#212529;
}

.aButton a:hover{
    color:#212529;
}

.aButton a:active{
    color:#212529;
}